nav{
    margin: 0 auto;
}
.paginado {
    display: flex;
    list-style: none;
    width: 500px;
    justify-content: space-between;
    padding: 50px 0 50px 0;

    
}
.paginado li {
    width: 50px;
    height: 40px;
    background-color: rgb(141, 137, 137);

}


.number {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    padding-top: 7px;
    border: none;
    outline: none;
    background: transparent;
}
.number:hover {
    color: black;
}
