.box {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
    top: 17%;
    left: 50%;

}

.search {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box;
    transition: .5s;
    background-color: #fff;
}

.input {
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 25px 0 0 25px;

}


.btn-buscar {
    position: relative;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 100px;
    border: none ;
    outline: none;
    cursor: pointer;
    background-color: #ccc;
    color: #fff;
}


.btn-buscar:hover {
    background-color: rgb(141, 137, 137);
}
